<div style="
    background:none repeat-x scroll 0 0 #e6e6fa;
	width:800px;
	height:800px;
	margin-left : auto ; margin-right : auto;
">
<div style="text-align:center;">

  <h1>CloudExpert</h1>

 <p><p><br><br><br><br><br><br><br><br><br><br>

  <p><a href="/login/get" rel="external">
  <%= image_tag("/assets/facebook.jpg" , :size => '100x60') %></a></p>
  <p><a href="/login/get" rel="external">Facebookログイン</a></p>
</div>






