
<div data-role="content">

  <h1>CloudExpertの管理画面</h1>

  <!--ここでボタンを設置-->
  <a href="/admin/users/" data-role="button" data-inline="true">ユーザー</a>
  <a href="/admin/experts/" data-role="button" data-inline="true">エキスパート</a>
  <a href="/admin/categories/" data-role="button" data-inline="true">カテゴリー</a>














</div>










