// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.message{
        background: #e6e6fa;
        margin-left : auto ; margin-right : auto;

}

.partner_info{
     display: inline-block;
	_display: inline;
    margin-top:10px;
    width:500px;
    

}

.session_status{
margin-top:10px;
float: right;
}

.chat{
-webkit-border-radius:15px;
-moz-border-radius:15px;
border-radius:15px;
background:none repeat-x scroll 0 0 #3cb371;
color:#FFFFFF;
cursor:pointer;
display:inline-block;
font-size:8px;
font-weight:bold;
font-family:Arial,sans-serif;
line-height:1;
padding:10px 15px;
margin-top:0px;
margin-left:40px;
text-decoration:none;
text-shadow:0 -1px 1px rgba(0,0,0,0.25);


}

.pass{
-webkit-border-radius:15px;
-moz-border-radius:15px;
border-radius:15px;
background:none repeat-x scroll 0 0 #cccccc;
color:#000000;
cursor:pointer;
display:inline-block;
font-size:8px;
font-weight:bold;
font-family:Arial,sans-serif;
line-height:1;
padding:10px 27px;
margin-top:0px;
margin-left:40px;
text-decoration:none;

}


.payment{
    color: black;
    margin-right:30px;

}

.chat-t{
-webkit-border-radius:15px;
-moz-border-radius:15px;
border-radius:15px;
background:none repeat-x scroll 0 0 #3cb371;
color:#FFFFFF;
cursor:pointer;
display:inline-block;
font-size:8px;
font-weight:bold;
font-family:Arial,sans-serif;
line-height:1;
padding:10px 15px;
margin-top:6px;
text-decoration:none;
text-shadow:0 -1px 1px rgba(0,0,0,0.25);
position: relative; z-index: 1; top:0; left:20px;

}

.pass-t{
-webkit-border-radius:15px;
-moz-border-radius:15px;
border-radius:15px;
background:none repeat-x scroll 0 0 #cccccc;
color:#000000;
cursor:pointer;
display:inline-block;
font-size:8px;
font-weight:bold;
font-family:Arial,sans-serif;
line-height:1;
padding:10px 27px;
margin-top:6px;
text-decoration:none;
position: relative; z-index: 1; top:0; left:20px;

}



